Console_Service_1/Console_Service_1/Connected Services/ServiceReference2/Login_it.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login_i">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="password" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login_iResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Login_iResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Login_iSoapIn">
    <wsdl:part name="parameters" element="tns:Login_i" />
  </wsdl:message>
  <wsdl:message name="Login_iSoapOut">
    <wsdl:part name="parameters" element="tns:Login_iResponse" />
  </wsdl:message>
  <wsdl:portType name="Login_itSoap">
    <wsdl:operation name="Login_i">
      <wsdl:input message="tns:Login_iSoapIn" />
      <wsdl:output message="tns:Login_iSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Login_itSoap" type="tns:Login_itSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login_i">
      <soap:operation soapAction="http://tempuri.org/Login_i" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Login_itSoap12" type="tns:Login_itSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login_i">
      <soap12:operation soapAction="http://tempuri.org/Login_i" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login_it">
    <wsdl:port name="Login_itSoap" binding="tns:Login_itSoap">
      <soap:address location="https://localhost:44373/Login_it.asmx" />
    </wsdl:port>
    <wsdl:port name="Login_itSoap12" binding="tns:Login_itSoap12">
      <soap12:address location="https://localhost:44373/Login_it.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>